<div class="container">
  <img src="/assets/angular-logo.svg" alt="Logo Angular">

  <form action="" [formGroup]="formAuth" (ngSubmit)="submitForm()">
    <label for="">
      <img src="/assets/user.svg" alt="User logo">
      <input type="email" formControlName="email" placeholder="E-mail" required>
    </label>
    <label for="">
      <img src="/assets/password.svg" alt="Password logo">
      <input type="password" formControlName="password" placeholder="Senha" required>
    </label>

    <!-- se for invalido e nao vai habilitar o botao, mas se foir valido ele vai habilitar -->
    <button class="btn-red" [disabled]="formAuth.invalid">Login</button>
  </form>

  <span>Usuário ou senha incorreta</span>
</div>

